:root{
    --border-radius: 3px;
    --status-1: #590000;
    --status-2: #594300;
    --status-3: #525900;
    --status-4: #085900;
}

body{
    min-width: 620px;
    background: #ddd url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/diagonal-noise.png);
    font-family: sans-serif;
}

h1, .board-title, .board-column-title{
    font-weight: 100;
}

.title{
    /* text-align: center;
    font-size: 4em; */
    letter-spacing: 5px;
    transform: scale(1.2, 1);
    margin-left: 10px;
    font-size: 25px;
    margin-bottom: -15px;
}

.board-container{
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    display: block;
}

.title-line{
    display: flex;
    width: 1160px;
    margin: 20px auto;
}

.add-board{
    position: absolute;
    right: 118px;
    top: 20px;
}